@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;300;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Asap', sans-serif;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

:root {
    --color-white: #FFFFFF;
    --color-turquesa: #00A295;
    --color-purple: #252958;
    --color-green: #009640;
    --color-yellow: #C2CA0A;
    --color-black: #000;
    --color-blue: #302ddb;   /*azul frontão*/
    --color-red: #7a0404 ;
    --color-background: #F7F7F7;
}

@media (min-width: 1200px){
    body {
        max-width: 1320px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
}